*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body{
    background-color: #fc0102;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header > img {
    width: 50px;
}

.banner{
    position: relative;
    width: 100%;
}

.banner > img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

svg{
    width: 40px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(0%) hue-rotate(148deg) brightness(103%) contrast(100%);
}
