.form_body{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.form_body > input{
    width: 100% !important;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    color: black;
}

.form_body > button {
    margin: 1em auto;
    font-weight: 600;
    font-size: 20px;
    background: transparent;
    box-shadow: 0 0 0 3px white;
    padding: 10px;
    border-radius: 40px;
    border-style: none;
}