.dashboard_body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    background-color: white;
}   