@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.color_red {
    color: #CA2E2F;
}

.color_white {
    color: white;
}